.blurmytext{
    color: transparent !important;
    text-shadow: 0 0 8px #000 !important;
    background-color: yellow !important;

}

.blurmytext:hover {
    text-shadow:none !important;
    color: black !important;
}